<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1">
                <div class="navbar-header">
                    <a href="../website/website-list.html" class="navbar-brand">
                              <span class="glyphicon glyphicon-chevron-left">
                              </span>
                    </a>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        Page
                    </a>
                </div>
            </div>
            <div class="col-xs-8">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="navbar-brand pull-right">
                              <span class="glyphicon glyphicon-plus">
                              </span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <ul class="list-group">

        <li class="list-group-item active">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-9">Pages </div>
                <div class="col-lg-3 visible-lg">Created</div>
                <div class="col-sm-3 hidden-xs">Updated</div>
                <div class="col-xs-2"></div>
            </div>
        </li>

        <li class="list-group-item" ng-repeat="page in model.pages">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-9"><a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">Blog Post</a> </div>
                <div class="col-lg-3 visible-lg">1/1/2017</div>
                <div class="col-sm-3 hidden-xs">2/2/2017</div>
                <div class="col-xs-2">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
                <a href="#!/user/{{model.userId}}/website">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#!/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
